{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>

    <title>Meeting room check</title> 
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">
</head>

<body>
    <div class="table-responsive">
        <table class="table" border="|">
            <tr>
              <th>방 </th>
              <th>상태 </th>
          </tr>
          <tr>
              <td>4A </td>
              {% if is_empty %}
                  <td bgcolor="#007ef2">TRUE </td>
              {% else %}
                  <td bgcolor="#FF0000">FALSE </td>
              {% endif %}
          </tr>
        </table>
    </div>
</body>
</html>
